
@font-face {
            font-family: 'ExyleC';
            src: url('exylec.otf') format('truetype');
        }

        @font-face {
            font-family: 'Copperplate';
            src: url('copperplate.otf') format('truetype');
        }


@font-face {
            font-family: 'Virginia';
            src: url('Virginia.ttf') format('truetype');
        }

















.video1 {
    display: flex;
    justify-content: center; /* Центрирует по горизонтали */
    align-items: center; /* Центрирует по вертикали */
    height: 100vh; /* Задает высоту блока на весь экран */
}

#animation {
 position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Центрирует видео по обеим осям */
    width: 80%; /* Регулируйте размер по ширине */
    height: auto; /* Сохраняет пропорции видео */
}





.sound-button {
    position: fixed; /* Меняем с absolute на fixed */
    top: 20px; /* Установите нужное значение, чтобы она была выше видео */
    right: 30px; /* Установите нужное значение для отступа справа */
    padding: 10px;
    background: rgba(0, 255, 204, 0.8);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    transition: background-color 0.3s;
    z-index: 1001; /* Обязательно оставить высокое значение z-index */
}

.sound-button:hover {
    background-color: rgba(0, 255, 204, 1);
}


.video-intro {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
            z-index: 1000;
            transition: opacity 1s ease-in-out;
        }

        #intro-video {
            width: 100%;
            height: 100%;
            object-fit: cover; /* Обрезает видео под экран */
        }

        /* Стили для кнопки "Пропустить" */
        .skip-button {
            position: absolute;
            bottom: 30px;
            right: 30px;
            padding: 10px 20px;
            font-size: 18px;
            background-color: rgba(0, 255, 204, 0.8);
            color: #000;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.3s;
            z-index: 1001;
        }

        .skip-button:hover {
            background-color: rgba(0, 255, 204, 1);
            transform: scale(1.05);
        }



  /* Скрытие видео */
        .video-intro.hidden {
            opacity: 0;
            pointer-events: none;
        }










        .menu a.master{
            margin-left: 250px;
        }
        .menu a.service{
            margin-left: 250px;
        }
        .menu a.about{
            margin-left: 250px;
        }
        .menu a.vac{
            margin-left: 250px;
        }
        .menu a.contact{
            margin-right: 250px;
        }
        .menu a.cert{
            margin-right: 250px;
        }
        .menu a.cons{
            margin-right: 250px;
        }
        .menu a.care{
            margin-right: 250px;
        }
        /* Основные стили */
        html, body {
            margin: 0;
            padding: 0;
            overflow-x: hidden;
        }
        body {
            font-family: 'ExyleC';
            background: #1f1f1f;
            color: #fff;
            margin: 0;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            position: relative;
        }

        .header {
            position: absolute;
            top: 0;
            width: 100%;
            height: 50px;
            background-color: #808080;
            display: flex;
            align-items: center;
            justify-content: space-between; /* Разделение пространства */
            padding-left: 30px;
            padding-right: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            z-index: 10;
            opacity: 0;
            transition: opacity 1s;
            color: #000;
            font-family: 'ExyleC';
        }

        .header img {
            height: 40px;
        }

        .contacts {
            display: flex;
            align-items: center;
            position: relative;
            left: -30px;
            font-size:25px;
        }

        .dropdown {
            position: relative;
            display: inline-block;
            margin-left: 20px;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #000; 
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            margin-top: 10px;
        }

        .dropdown-content a {
            color: white;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

        .contacts .adress a,
        .contacts .zap a {
            color: #000000;
            text-decoration: none;
            margin-left: 20px;
        }

        .logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation: fadeInOut 3s forwards;
        }

        @keyframes fadeInOut {
            0% { opacity: 0; }
            50% { opacity: 1; }
            100% { opacity: 0; }
        }

        .main-content {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            z-index: 1;
        }

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    gap: 50px; /* Расстояние между колонками меню */
}

.menu div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Расстояние между кнопками */
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 8px;
    transition: transform 0.3s;
    text-align: center;
    width: 200px; /* Фиксированная ширина для выравнивания */
}

.menu a:hover {
    transform: translateY(-5px);
}




@media (min-width: 2530px){
    
    .contacts {
            display: flex;
            align-items: center;
            position: relative;
            left: -30px; 
            transform: translateX(0vw);
        font-size: 34px;
        
    }
        

    .master {
        top: 12% !important;
    }
    .service {
        top: 12% !important;
    }
    .glow-care {
        top: 12% !important;
    }
    .cert {
        top: 10% !important;
    }
    .about {
        top: 83% !important;
    }
    .vac {
        top: 83% !important;
    }
    .cons {
        top: 83% !important;
    }
    .educ {
        top: 83% !important;


   
        
}
}





.glow-care {
    width: 15%;
    height: 6%;
    border: none;
    outline: none;
    color: #00CBB0; /* Бирюзовый цвет текста */
    background: #111;
    cursor: pointer;
    position: absolute;
    z-index: 0;
    border-radius: 14px;
       border: 2px solid #00CBB0; /* Бирюзовая окантовка */
    text-decoration: none; /* Убирает подчеркивание текста */
      display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap; /* Запрещает перенос текста */
}

.cons{
     width: 14%;
    height: 6%;
    border: none;
    outline: none;
    color: #00CBB0; /* Бирюзовый цвет текста */
    background: #111;
    cursor: pointer;
    position: absolute;
    z-index: 0;
    border-radius: 14px;
       border: 2px solid #00CBB0; /* Бирюзовая окантовка */
    text-decoration: none; /* Убирает подчеркивание текста */
      display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap; /* Запрещает перенос текста */
}

.cert{
      width: 15%;
    height: 9%;
    border: none;
    outline: none;
    color: #00CBB0; /* Бирюзовый цвет текста */
    background: #111;
    cursor: pointer;
    position: absolute;
    z-index: 0;
    border-radius: 14px;
       border: 2px solid #00CBB0; /* Бирюзовая окантовка */
    text-decoration: none; /* Убирает подчеркивание текста */
      display: flex;
    align-items: center;
    justify-content: center;
    
}




.glow-on-hover {
    width: 12%;
    height: 6%;
    border: none;
    outline: none;
    color: #00CBB0; /* Бирюзовый цвет текста */
    background: #111;
    cursor: pointer;
    position: absolute;
    z-index: 0;
    border-radius: 14px;
       border: 2px solid #00CBB0; /* Бирюзовая окантовка */
    text-decoration: none; /* Убирает подчеркивание текста */
      display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap; /* Запрещает перенос текста */
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #00ffff, #00ffd5, #00bfff, #007fff, #00bfff, #00ffd5, #00ffff);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

       

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 40px;
            background-color: #1a1a1a;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 20px;
            box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
            z-index: 10;
            color: #fff;
            opacity: 0;
            transition: opacity 1s;
        }

        @media (max-width: 768px) {
            .menu {
                flex-direction: column;
                align-items: center;
                top: 60%;
                transform: translateY(-50%);
            }

            .menu a {
                margin: 10px 0;
                font-size: 20px;
            }

            .header {
                height: 50px;
                padding-left: 10px;
            }

            .header img {
                height: 30px;
            }

            .footer {
                height: 30px;
                padding-right: 10px;
                font-size: 14px;
            }

            video {
                max-width: 80%;
            }
        }

        @media (max-width: 480px) {
            .menu a {
                font-size: 18px;
            }

            .footer {
                height: 25px;
                padding-right: 5px;
                font-size: 12px;
            }

            .header {
                height: 40px;
                padding-left: 5px;
            }

            .header img {
                height: 25px;
            }
        }





.glow-care:before {
    content: '';
    background: linear-gradient(45deg, #00ffff, #00ffd5, #00bfff, #007fff, #00bfff, #00ffd5, #00ffff);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-care:hover:before {
    opacity: 1;
}

.glow-care:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}



.cons:before {
    content: '';
    background: linear-gradient(45deg, #00ffff, #00ffd5, #00bfff, #007fff, #00bfff, #00ffd5, #00ffff);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.cons:hover:before {
    opacity: 1;
}

.cons:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}




.cert:before {
    content: '';
    background: linear-gradient(45deg, #00ffff, #00ffd5, #00bfff, #007fff, #00bfff, #00ffd5, #00ffff);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.cert:hover:before {
    opacity: 1;
}

.cert:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

